<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Integration Boilerplate</title>
</head>

<body class="{% block classBody %}{% endblock %}">
    {% include 'elements/offcanvas-panel-dev.html' %}
    {% include 'elements/offcanvas-ticketings.html' %}
    {% block body %}{% endblock %}
</body>
</html>
