<section class="container-fluid">
  <div class="py-10">
    <h1 class="ff-sans-serif fs-2">
      Proposer un événement
    </h1>

    {% include 'modules/propose-steps.html' %}
    <div class="row row-cols-lg-2 justify-content-center text-center">
      <div>
        <div class="my-8">
          <span class="material-symbols-outlined" style="font-size: 80px;">check_circle</span>
        </div>
        <h4 class="mb-5">
          Proposition confirmée
        </h4>
        <div class="mb-10">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla lectus congue, interdum turpis vel, accumsan ipsum. Ut interdum massa nec elit feugiat, vitae pellentesque justo sodales. Maecenas accumsan lorem a nulla porttitor aliquam. Mauris dapibus sem eu nibh condimentum lacinia. Nunc sed commodo orci.
        </div>
        <div>
          <a href="#" class="btn btn-primary">Retour</a>
        </div>
      </div>
    </div>

  </div>

</section>
