<section>
  <div class="events-reader-main-wrapper">
    <div class="py-10">
      <div class="container-fluid overflow-x-hidden">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <a href="index.html" class="back text-reset text-decoration-underline-hover d-inline-flex align-items-center fs-6">
            <svg class="me-1" width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.372853 9.95069L8.39684 1.01404C8.55644 0.836318 8.81762 0.749999 8.99174 0.749999C9.18453 0.749999 9.37809 0.819816 9.53151 0.961024C9.85909 1.26254 9.88337 1.77649 9.58558 2.10806L2.7815 9.68665L21.0306 9.68665C21.4742 9.68665 21.833 10.05 21.833 10.4534C21.833 10.8568 21.4741 11.3115 21.0306 11.3115L2.78198 11.3115L9.58713 18.8924C9.88492 19.224 9.86064 19.7384 9.53305 20.0395C9.20469 20.3393 8.69777 20.3172 8.39886 19.9839L0.374886 11.0473C0.0971669 10.7377 0.097165 10.2604 0.372853 9.95069Z" fill="black"/></svg>
            Retour
          </a>
          <div>
              <span class="badge fs-base bg-light text-black rounded-pill fs-lg-lg">
                  organisme <span class="text-muted">culturel</span>
              </span>
          </div>
        </div>
        <h1 class="mb-2">
          Fri-Son
        </h1>
        <div class="h3">
          Loud & Proud since 1983
        </div>
        <div class="block-draggable-container position-relative mb-8">
          <div class="block-draggable d-flex flex-shrink-0 flex-nowrap flex-lg-wrap align-items-start gap-2">
            <span class="badge badge-event fs-base" style="color:#6CFFC1;"><span>arts scéniques</span></span>
            <span class="badge badge-event fs-base" style="color:#FF00FF;"><span>arts scéniques</span></span>
            <span class="badge badge-event fs-base" style="color:#FFB84D;"><span>arts scéniques</span></span>
            <span class="badge badge-event fs-base" style="color:#FF0000;"><span>arts scéniques</span></span>
          </div>
        </div>
        <!--<div class="event-time-location-wrapper border-bottom fs-lg lh-sm d-flex flex-wrap gap-5 pb-2 mb-10">-->
        <div class="reader-time-location-wrapper pb-xl-6 d-flex flex-column flex-wrap flex-xl-row fs-lg lh-sm gap-x-5 gap-y-2 mb-10">
          <div class="event-label">
            Rte de la fonderie 13
          </div>
          <div class="separator"></div>
          <div>
            1700 Fribourg
          </div>
          <div class="separator"></div>
          <div class="event-label">
            Sarine
          </div>
          <div class="separator"></div>
          <div>
            CP 1312
          </div>
        </div>
      </div>

      <div class="swiper events-reader-gallery-swiper mb-10 mb-xl-0">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-cover">
            <img srcset="{% static 'img/insitu_placeholder.jpg' %}, {% static 'img/insitu_placeholder@1,5x.jpg' %} 1.5x, {% static 'img/insitu_placeholder@2x.jpg' %} 2x" src="{% static 'img/insitu_placeholder.jpg' %}" alt="Placeholder">
            <div class="swiper-slide-content text-white w-100 position-absolute bottom-0 fs-xs start-0 p-3 text-center">
              Skully - photo de  Alain Berset
            </div>
          </div>
          <div class="swiper-slide swiper-slide-cover">
            <img srcset="{% static 'img/insitu_placeholder.jpg' %}, {% static 'img/insitu_placeholder@1,5x.jpg' %} 1.5x, {% static 'img/insitu_placeholder@2x.jpg' %} 2x" src="{% static 'img/insitu_placeholder.jpg' %}" alt="Placeholder">
            <div class="swiper-slide-content text-white w-100 position-absolute bottom-0 fs-xs start-0 p-3 text-center">
              Lorem ipsum dolor sit amet
            </div>
          </div>
          <div class="swiper-slide swiper-slide-cover">
            <img srcset="{% static 'img/insitu_placeholder.jpg' %}, {% static 'img/insitu_placeholder@1,5x.jpg' %} 1.5x, {% static 'img/insitu_placeholder@2x.jpg' %} 2x" src="{% static 'img/insitu_placeholder.jpg' %}" alt="Placeholder">
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div class="container-fluid mb-10 mb-xl-20">
        <div class="row gy-10">
          <div class="col-xxl">
            <div>
              <p>
                Fri-Son est organisée en association bilingue à but non lucratif conduite par un comité élu par l'assemblée générale des membres. Aujourd’hui, une équipe fixe de huit employé.e.s* travaille à Fri-Son. Une douzaine de groupes de travail sont chargés de la gestion et du déroulement des concerts et des soirées. Environ 200 collaborateur.rice.s* et bénévoles forment la famille Fri-Son.
              </p>
              <p>
                Active sur l’ensemble du spectre des musiques amplifiées, Fri-Son programme découvertes, artistes reconnu.e.s* et projets phares de la scène internationale, nationale et locale. La renommée et la crédibilité de Fri-Son sont le résultat de 30 ans de travail au service d’une culture d’avant-garde indépendante et de la stimulation d’une scène musicale en bouleversement permanent.
              </p>
              <p>
                Active sur l’ensemble du spectre des musiques amplifiées, Fri-Son programme découvertes, artistes reconnu.e.s* et projets phares de la scène internationale, nationale et locale. La renommée et la crédibilité de Fri-Son sont le résultat de 30 ans de travail au service d’une culture d’avant-garde indépendante et de la stimulation d’une scène musicale en bouleversement permanent.
              </p>
            </div>
          </div>
          <div class="col-xxl-4">
            <div class="mb-5 text-center text-lg-start">
              <h6 class="fs-lg ff-serif mb-2">
                Contact
              </h6>
              <div>
                026 424 36 25
              </div>
              <div>
                <a href="#" class="text-decoration-underline text-decoration-none-hover">info(at)fri-son.ch</a>
              </div>
            </div>

            <div class="mb-5 text-center text-lg-start">
              <h6 class="fs-lg ff-serif mb-2">
                Site internet
              </h6>
              <div>
                <a href="#" class="text-decoration-underline text-decoration-none-hover">www.fri-son.ch</a>
              </div>
            </div>

            <div class="mb-5 text-center text-lg-start">
              <h6 class="fs-lg ff-serif mb-2">
                forme juridique
              </h6>
              <div>
                Association
              </div>
            </div>

            <div class="mb-5 text-center text-lg-start">
              <h6 class="fs-lg ff-serif mb-2">
                statut d’activité
              </h6>
              <div>
                Active
              </div>
            </div>
            <div class="text-center text-lg-start">
              <h6 class="fs-lg ff-serif mb-2">
                lieu(x) associé(s)
              </h6>
              <div>
                <a href="#" class="text-decoration-underline text-decoration-none-hover">Fri-Son</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="mb-14 events-reader-map-container d-flex bg-info text-white">
        <div class="h-100 w-100 d-flex align-items-center justify-content-center">
          Map container
          <a href="#" class="btn btn-outline-primary text-nowrap d-inline-flex flex-nowrap align-items-center position-absolute bottom-0 start-50 translate-middle mb-4">
            itinéraire vers le lieu
            <svg class="svg-icon ms-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.10119 1.34589C8.82292 1.34589 8.59524 1.11948 8.59524 0.839937C8.59524 0.560398 8.82292 0.333984 9.10119 0.333984H14.1607C14.439 0.333984 14.6667 0.560398 14.6667 0.839937V5.89946C14.6667 6.17773 14.439 6.40541 14.1607 6.40541C13.8824 6.40541 13.6548 6.17773 13.6548 5.89946V2.0615L6.4228 9.2925C6.22675 9.49172 5.9042 9.49172 5.70815 9.2925C5.50893 9.09645 5.50893 8.7739 5.70815 8.57785L12.9401 1.34589H9.10119ZM0.5 2.86375C0.5 2.02545 1.17956 1.34589 2.01786 1.34589H6.06548C6.34375 1.34589 6.57143 1.5723 6.57143 1.85184C6.57143 2.13138 6.34375 2.35779 6.06548 2.35779H2.01786C1.73832 2.35779 1.5119 2.58547 1.5119 2.86375V12.9828C1.5119 13.2611 1.73832 13.4887 2.01786 13.4887H12.1369C12.4152 13.4887 12.6429 13.2611 12.6429 12.9828V8.93518C12.6429 8.6569 12.8705 8.42922 13.1488 8.42922C13.4271 8.42922 13.6548 8.6569 13.6548 8.93518V12.9828C13.6548 13.8208 12.9749 14.5007 12.1369 14.5007H2.01786C1.17956 14.5007 0.5 13.8208 0.5 12.9828V2.86375Z" fill="black"/>
            </svg>

          </a>
        </div>
      </div>
      <div class="container-fluid mb-lg-0">
        {% include 'modules/programmation.html' %}
      </div>
    </div>

  </div>

</section>
