<div class="offcanvas offcanvas-panel offcanvas-panel-dev bg-dark rounded-start rounded-3 text-white offcanvas-start"
     tabindex="-1" id="offcanvasPanel" aria-labelledby="offcanvasPanelLabel">
    <div class="offcanvas-header">
        <a href="#" class="btn-prev text-reset text-decoration-none invisible">
            <svg class="svg-icon" width="11" height="20" viewBox="0 0 11 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M8.5789 18.9807L0.703898 10.2799C0.404812 9.94491 0.404812 9.4426 0.703898 9.10737L8.5789 0.309791C8.95077 -0.0489594 9.4539 -0.0779438 9.81483 0.244712C10.1922 0.58815 10.1867 1.14159 9.88046 1.48229L2.53046 9.64549L9.88046 17.8103C10.2019 18.1709 10.1736 18.7231 9.81549 19.0474C9.4539 19.3689 8.95077 19.3416 8.5789 18.9807Z"
                      fill="white"/>
            </svg>
        </a>
        <h5 class="offcanvas-title" id="offcanvasPanelLabel">Filtres</h5>
        <button type="button" class="btn-close text-reset m-0" data-bs-dismiss="offcanvas" aria-label="Close">
            <svg class="svg-icon" width="19" height="18" viewBox="0 0 19 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M18.1667 17.6661C17.8089 18.0239 17.2233 18.0239 16.8655 17.6661L9.70841 10.509L2.55137 17.6661C2.19173 18.0257 1.60932 18.0261 1.24968 17.6665C0.890037 17.3069 0.892235 16.7227 1.25009 16.3648L8.40713 9.20776L1.25009 2.05071C0.890444 1.69107 0.890199 1.10931 1.24968 0.749834C1.60794 0.391575 2.19189 0.389948 2.55137 0.749427L9.70841 7.90647L16.8655 0.749427C17.2251 0.389785 17.8067 0.390191 18.1663 0.749833C18.526 1.10947 18.5262 1.69123 18.1667 2.05071L11.0097 9.20776L18.1667 16.3648C18.5246 16.7227 18.5246 17.3082 18.1667 17.6661Z"/>
            </svg>
        </button>
    </div>
    <div class="offcanvas-body px-0 pb-0 d-flex flex-column">


        <div class="sidebar-panels">


            <div class="sidebar-panel sidebar-panel-opened" id="sidebar-panel-1">
                <div class="mb-3 px-5 fs-lg">
                    Durée
                </div>
                <div class="mb-5">
                    <div class="px-5">
                        <div class="form-check form-switch ps-0 d-flex">
                            <label class="d-flex flex-grow-1 me-2 form-check-label align-items-center" for="flexSwitchCheckDefault">
                                <span>événements sur plusieurs jours</span>
                            </label>
                            <input class="form-check-input switch-multi-days float-none mx-0" type="checkbox" role="switch" id="flexSwitchCheckDefault">

                        </div>
                    </div>
                </div>
                <div class="mb-3 px-5 fs-lg">
                    Catégories
                </div>
                <div class="mb-5">

                    <div class="d-flex flex-nowrap justify-content-between align-items-center position-relative bg-dark-highlight-hover rounded-pill px-5 py-2">
                        <div class="form-check m-0">
                            <input class="form-check-input position-relative element-front" type="checkbox" value=""
                                   id="checkbox01">
                            <label class="form-check-label" for="checkbox01">
                                musique
                            </label>
                        </div>
                        <a href="#" data-test="sidebar-panel-2"
                           class="link-next d-flex flex-shrink-0 ms-3 stretched-link text-reset">
                            <svg class="svg-icon" width="9" height="18" viewBox="0 0 9 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.43265 1.12394L8.18265 8.58175C8.43901 8.86886 8.43901 9.29941 8.18265 9.58675L1.43265 17.1275C1.1139 17.435 0.682653 17.4599 0.373278 17.1833C0.0498401 16.8889 0.0545278 16.4146 0.317028 16.1225L6.61703 9.1255L0.317028 2.12706C0.0415436 1.81797 0.0657305 1.34472 0.372715 1.06675C0.682652 0.791124 1.1139 0.814562 1.43265 1.12394Z"
                                      fill="white"/>
                            </svg>
                        </a>
                    </div>


                    <div class="d-flex flex-nowrap justify-content-between align-items-center position-relative bg-dark-highlight-hover rounded-pill px-5 py-2">
                        <div class="form-check m-0">
                            <input class="form-check-input position-relative element-front" type="checkbox" value=""
                                   id="checkbox02" checked>
                            <label class="form-check-label" for="checkbox02">
                                arts visuels & design
                            </label>
                        </div>
                        <a href="#" data-test="sidebar-panel-3"
                           class="link-next d-flex flex-shrink-0 ms-3 stretched-link text-reset">
                            <svg class="svg-icon" width="9" height="18" viewBox="0 0 9 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.43265 1.12394L8.18265 8.58175C8.43901 8.86886 8.43901 9.29941 8.18265 9.58675L1.43265 17.1275C1.1139 17.435 0.682653 17.4599 0.373278 17.1833C0.0498401 16.8889 0.0545278 16.4146 0.317028 16.1225L6.61703 9.1255L0.317028 2.12706C0.0415436 1.81797 0.0657305 1.34472 0.372715 1.06675C0.682652 0.791124 1.1139 0.814562 1.43265 1.12394Z"
                                      fill="white"/>
                            </svg>
                        </a>
                    </div>

                </div>
                <div class="mb-3 px-5 fs-lg">
                    Dates
                </div>

                <div class="mb-5">
                    <div class="d-flex flex-nowrap justify-content-between align-items-center position-relative bg-dark-highlight-hover rounded-pill px-5 py-2">
                        <div class="form-check m-0">
                            <input class="form-check-input position-relative element-front" type="checkbox" value=""
                                   id="indeterminateCheckbox">
                            <label class="form-check-label" for="indeterminateCheckbox">
                                utiliser l’agenda
                            </label>
                        </div>
                        <a href="#" data-test="sidebar-panel-4"
                           class="link-next d-flex flex-shrink-0 ms-3 stretched-link text-reset">
                            <svg class="svg-icon" width="9" height="18" viewBox="0 0 9 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.43265 1.12394L8.18265 8.58175C8.43901 8.86886 8.43901 9.29941 8.18265 9.58675L1.43265 17.1275C1.1139 17.435 0.682653 17.4599 0.373278 17.1833C0.0498401 16.8889 0.0545278 16.4146 0.317028 16.1225L6.61703 9.1255L0.317028 2.12706C0.0415436 1.81797 0.0657305 1.34472 0.372715 1.06675C0.682652 0.791124 1.1139 0.814562 1.43265 1.12394Z"
                                      fill="white"/>
                            </svg>
                        </a>
                    </div>
                    <div class="px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox06">
                            <label class="form-check-label" for="checkbox06">
                                aujourd'hui
                            </label>
                        </div>
                    </div>
                    <div class="px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox07">
                            <label class="form-check-label" for="checkbox07">
                                demain
                            </label>
                        </div>
                    </div>
                    <div class="px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox08">
                            <label class="form-check-label" for="checkbox08">
                                cette semaine
                            </label>
                        </div>
                    </div>
                    <div class="px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox09">
                            <label class="form-check-label" for="checkbox09">
                                ce week-end
                            </label>
                        </div>
                    </div>
                    <div class="px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox06">
                            <label class="form-check-label" for="checkbox06">
                                aujourd'hui
                            </label>
                        </div>
                    </div>
                </div>


            </div>


            <!-- SUBNAV 2 -->
            <div class="sidebar-panel" id="sidebar-panel-2" data-sidebar-parent="sidebar-panel-1">
                <div class="mb-3 px-5 fs-lg">
                    musique
                </div>
                <div class="mb-5">
                    <div class="position-relative bg-dark-highlight-hover rounded-pill px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox21">
                            <label class="form-check-label stretched-link d-block" for="checkbox21">
                                Option 1
                            </label>
                        </div>
                    </div>
                    <div class="position-relative bg-dark-highlight-hover rounded-pill px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox22">
                            <label class="form-check-label stretched-link d-block" for="checkbox22">
                                Option 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SUBNAV 2 -->

            <!-- SUBNAV 3 -->
            <div class="sidebar-panel" id="sidebar-panel-3" data-sidebar-parent="sidebar-panel-1">
                <div class="mb-3 px-5 fs-lg">
                    arts visuels & design
                </div>
                <div class="mb-5">
                    <div class="position-relative bg-dark-highlight-hover rounded-pill px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox31">
                            <label class="form-check-label stretched-link d-block" for="checkbox31">
                                Option 1
                            </label>
                        </div>
                    </div>
                    <div class="position-relative bg-dark-highlight-hover rounded-pill px-5 py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox32">
                            <label class="form-check-label stretched-link d-block" for="checkbox32">
                                Option 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SUBNAV 3 -->


            <!-- SUBNAV 4 -->
            <div class="sidebar-panel" id="sidebar-panel-4" data-sidebar-parent="sidebar-panel-1">
                <div class="mb-5">
                    <div class="bg-dark-highlight-hover rounded-pill px-5 py-2 text-center">
                        <a href="#" class="link-level-1 text-white text-decoration-none">aujourd'hui</a>
                    </div>
                    <div class="bg-dark-highlight-hover rounded-pill px-5 py-2 text-center">
                        <a href="#" class="link-level-1 text-white text-decoration-none">demain</a>
                    </div>
                    <div class="bg-dark-highlight-hover rounded-pill px-5 py-2 text-center">
                        <a href="#" class="link-level-1 text-white text-decoration-none">cette semaine</a>
                    </div>
                    <div class="bg-dark-highlight-hover rounded-pill px-5 py-2 text-center">
                        <a href="#" class="link-level-1 text-white text-decoration-none">ce week-end</a>
                    </div>
                </div>
                <div class="mb-3 px-5 fs-lg">
                    utiliser l’agenda
                </div>
                <div class="mb-5">
                    <div id="datepicker-filter">Chargement de react datepicker</div>
                </div>
            </div>
            <!-- END SUBNAV 4 -->


        </div>
    </div>
    <div class="offcanvas-footer mt-auto pt-0 d-grid gap-3 text-center">
        <button class="btn btn-outline-white" id="showResults">
            Afficher les 421 résultats
        </button>
        <a href="#" class="text-white fs-lg disabled" id="resetResults">
            Réinitialiser
        </a>
    </div>
</div>
