<div class="offcanvas offcanvas-panel bg-dark rounded-start rounded-3 text-white offcanvas-start" tabindex="-1" id="offcanvasPanel" aria-labelledby="offcanvasPanelLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasPanelLabel">Filtres</h5>
    <button type="button" class="btn-close text-reset m-0" data-bs-dismiss="offcanvas" aria-label="Close">
      <svg class="svg-icon" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.1667 17.6661C17.8089 18.0239 17.2233 18.0239 16.8655 17.6661L9.70841 10.509L2.55137 17.6661C2.19173 18.0257 1.60932 18.0261 1.24968 17.6665C0.890037 17.3069 0.892235 16.7227 1.25009 16.3648L8.40713 9.20776L1.25009 2.05071C0.890444 1.69107 0.890199 1.10931 1.24968 0.749834C1.60794 0.391575 2.19189 0.389948 2.55137 0.749427L9.70841 7.90647L16.8655 0.749427C17.2251 0.389785 17.8067 0.390191 18.1663 0.749833C18.526 1.10947 18.5262 1.69123 18.1667 2.05071L11.0097 9.20776L18.1667 16.3648C18.5246 16.7227 18.5246 17.3082 18.1667 17.6661Z" />
      </svg>
    </button>
  </div>
  <div class="offcanvas-body px-0 d-flex flex-column">
    <div class="accordion accordion-filters mb-10" id="accordionFilters">
      <div class="pb-2 px-5 fs-lg">
        Catégories
      </div>
      <div class="accordion-item accordion-filter-item">
        <div class="accordion-header position-relative" id="headingOne">
          <div class="form-check category-check">
            <input class="form-check-input" type="checkbox" value="" id="checkboxA">
          </div>
          <button class="accordion-button bg-dark-highlight-hover rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            musique (1 / 2)
          </button>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFilters">
          <div class="accordion-body">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="checkbox01">
              <label class="form-check-label" for="checkbox01">
                Option 1
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox02" checked>
              <label class="form-check-label" for="checkbox02">
                Option 2
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="py-2 px-5 fs-lg">
        Régions
      </div>
      <div class="accordion-item accordion-filter-item">
        <div class="accordion-header position-relative" id="headingTwo">
          <div class="form-check category-check">
            <input class="form-check-input" type="checkbox" value="" id="checkboxB">
          </div>
          <button class="accordion-button bg-dark-highlight-hover rounded-pill collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            arts visuels & design  (0 / 2)
          </button>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFilters">
          <div class="accordion-body">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="checkbox03">
              <label class="form-check-label" for="checkbox03">
                Option 1
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox04">
              <label class="form-check-label" for="checkbox04">
                Option 2
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="py-2 px-5 fs-lg">
        Autre
      </div>
      <div class="accordion-item accordion-filter-item">
        <div class="accordion-header position-relative" id="headingThree">
          <div class="form-check category-check">
            <input class="form-check-input" type="checkbox" value="" id="checkboxC">
          </div>
          <button class="accordion-button bg-dark-highlight-hover rounded-pill collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            arts scéniques  (2 / 2)
          </button>
        </div>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFilters">
          <div class="accordion-body">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="checkbox05">
              <label class="form-check-label" for="checkbox05">
                Option 1
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkbox06">
              <label class="form-check-label" for="checkbox06">
                Option 2
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="datepicker-filter">Chargement de react datepicker</div>
    <div class="mt-auto d-grid gap-2 px-5">
      <button class="btn btn-outline-white">
        Afficher les 421 résultats
      </button>
      <button class="btn btn-link disabled">
        Réinitialisé
      </button>
    </div>
  </div>
</div>
