<div class="offcanvas offcanvas-top offcanvas-mobile h-100" data-bs-backdrop="false" tabindex="-1" id="offcanvasMobile"
     aria-labelledby="offcanvasMobileLabel">
  <div class="offcanvas-body d-flex flex-column">
    <ul class="nav nav-main justify-content-around">
      <li class="nav-item">
        <a href="#" class="nav-link px-0 active" aria-current="page">
          français
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-0">
          deutsch
        </a>
      </li>
    </ul>
    <ul class="nav nav-main-lg flex-column text-center mt-auto">
      <li class="nav-item">
        <a href="#" class="nav-link px-0 active" aria-current="page">
          agenda
        </a>
      </li>
      <li>
        <a href="map.html" class="nav-link px-0">
          carte
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-0">
          magazine
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-0">
          infos
        </a>
      </li>
    </ul>
    <div class="d-flex flex-column align-items-center mt-auto gap-3">

      <a href="#" class="btn btn-lg btn-outline-primary px-12 d-inline-flex align-items-center" data-bs-toggle="modal"
         data-bs-target="#searchModal">
        <svg class="svg-icon me-2" width="21" height="20" viewBox="0 0 21 20" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M20.3154 18.9336L14.7883 13.4062C16.007 11.9844 16.714 10.1445 16.714 8.125C16.714 3.63672 13.0763 0 8.58943 0C4.10256 0 0.5 3.63789 0.5 8.125C0.5 12.6121 4.13732 16.25 8.58943 16.25C10.6081 16.25 12.4506 15.5094 13.8704 14.291L19.3975 19.8184C19.5537 19.9375 19.7139 20 19.874 20C20.0342 20 20.1938 19.939 20.3158 19.8169C20.5615 19.5742 20.5615 19.1758 20.3154 18.9336ZM8.62459 15C4.80057 15 1.74994 11.9141 1.74994 8.125C1.74994 4.33594 4.80057 1.25 8.62459 1.25C12.4486 1.25 15.4992 4.30078 15.4992 8.125C15.4992 11.9492 12.4135 15 8.62459 15Z"/>
        </svg>
        Rechercher
      </a>
      <a href="#" class="btn btn-link text-black d-inline-flex align-items-center" data-bs-toggle="modal"
         data-bs-target="#searchModal">
        <svg class="svg-icon me-2" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.0205 8.30188C16.0205 8.62844 15.7533 8.89563 15.4268 8.89563H8.89551V15.4269C8.89551 15.7551 8.62995 16.021 8.30176 16.021C7.97356 16.021 7.70801 15.7534 7.70801 15.4269V8.89563H1.17676C0.848563 8.89563 0.583008 8.63029 0.583008 8.30225C0.583008 7.97531 0.848711 7.70813 1.17676 7.70813H7.70801V1.17688C7.70801 0.84868 7.97356 0.583496 8.30176 0.583496C8.62995 0.583496 8.89551 0.848828 8.89551 1.17688V7.70813H15.4268C15.7533 7.70813 16.0205 7.97531 16.0205 8.30188Z" />
        </svg>

        Proposer un conteu
      </a>

    </div>
    <div class="mt-auto">
      <ul class="nav nav-main-sm justify-content-around">
        <li class="nav-item">
          <a href="#" class="nav-link px-0 py-2 active" aria-current="page">
            instagram<span class="material-symbols-outlined icon-xs ms-1">open_in_new</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0 py-2">
            twitter<span class="material-symbols-outlined icon-xs ms-1">open_in_new</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0 py-2">
            facebook<span class="material-symbols-outlined icon-xs ms-1">open_in_new</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
