{% extends 'layout-sidebar.html' %}

{% block classBody %}layout-intro{% endblock %}
{% block content %}
<div id="container">
</div>
<div id="introContainer">
    <div class="intro-circles-wrapper">

    </div>
    <div class="intro-title-wrapper">

        <h1 class="intro-title text-center h4 mb-0 text-nowrap">
            La plateforme culturelle fribourgeoise<br>
            Die Freiburger Kulturplattform
        </h1>
    </div>

            <div class="intro-step active" data-step="0">
                Cliquez quelque part<br>
                Klicken Sie irgendwohin
            </div>
            <div class="intro-step" data-step="1">
                <a href="index.html" class="d-inline-block">
                    <div>
                        Aller à l’agenda<br>
                        Zur Agenda gehen
                    </div>
                    <svg class="ms-2" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.4439 11.5916L14.8027 21.2156C14.6308 21.407 14.3496 21.5 14.1621 21.5C13.9545 21.5 13.746 21.4248 13.5808 21.2727C13.228 20.948 13.2018 20.3945 13.5225 20.0375L20.85 11.8759L1.19713 11.8759C0.719441 11.8759 0.333008 11.4847 0.333008 11.0502C0.333008 10.6158 0.719545 10.1261 1.19713 10.1261L20.8495 10.1261L13.5209 1.96201C13.2002 1.60488 13.2263 1.051 13.5791 0.726739C13.9327 0.403785 14.4787 0.427681 14.8005 0.786561L23.4418 10.4106C23.7408 10.744 23.7408 11.258 23.4439 11.5916Z" fill="#111111"/>
                    </svg>
                </a>
            </div>

</div>
{% endblock %}
