@each $state, $value in $theme-colors {
  $alert-background: shift-color($value, $alert-bg-scale);
  $alert-color: shift-color($value, $alert-color-scale);
  @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
    $alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
  }
  .alert-#{$state} {
    .btn-close {
      svg {
        fill : $alert-color;
      }
      &:hover, &:focus {
        background-color: $alert-color;
        color:$alert-background;

        svg {
          fill : $alert-background;
        }
      }
    }
  }
}


.alert-dismissible {
  .btn-close {
    padding: $btn-close-padding-y $btn-close-padding-x;
  }
}
