.offcanvas {
  //transition:transform cubic-bezier(.12,.83,.44,1);
  transition: transform $offcanvas-transition-duration cubic-bezier(.02,.37,.19,.99);
  &.show {
    transition: transform $offcanvas-transition-duration cubic-bezier(0,.9,.68,.97);
  }
}

.offcanvas-panel {
  z-index:$zindex-offcanvas-panel;
  .offcanvas-header {
    padding-inline:calc(#{$offcanvas-padding-x} + #{$btn-close-width} + .5rem);
    min-height:calc(#{$btn-close-height} + #{$offcanvas-padding-y} * 2);
    position:relative;
    align-items:center;
    justify-content:center;

    .btn-close {
      position:absolute;
      top:$offcanvas-padding-y;
      right:$offcanvas-padding-x;
    }

    .btn-prev {
      position:absolute;
      top:$offcanvas-padding-y;
      left:$offcanvas-padding-x;
    }
  }
}

.offcanvas-mobile {
  visibility:visible;
  z-index: $zindex-navbar-main - 1;
  padding-top:var(--navbar-mobile-height);
  .offcanvas-header {
    height:var(--navbar-mobile-height);
    padding-block:0px;
  }
  transform:none!important;
  transition:opacity $offcanvas-transition-duration cubic-bezier(.02,.37,.19,.99);
  opacity:0;
  pointer-events:none;
  user-select: none;
  &.show {
    transition: opacity $offcanvas-transition-duration cubic-bezier(0,.9,.68,.97);
    opacity:1;
    pointer-events:auto;
    user-select: auto;
  }
}


.offcanvas-backdrop {
  .panel-opening & {
    z-index:$zindex-offcanvas-panel-backdrop;
  }
  &.show{
    opacity: 0.75 !important;
  }
}

.offcanvas-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $offcanvas-padding-y $offcanvas-padding-x;
}


.offcanvas-panel-dev {
  overflow:hidden;
  .offcanvas-body {
    position:relative;
    /*
    &:after {
      content:"";
      display:block;
      height:10px;
      background:red;
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      z-index:5;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    }*/
  }
  .offcanvas-footer {
    position:relative;
    z-index:2;
    box-shadow: 0px -6px 15px 0px $dark;
  }
  .sidebar-panels {
    flex-grow: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .sidebar-panel {
    --sidebar-panel-child-offset: 100%;
    --sidebar-panel-parent-offset: -100%;
    transition-duration: .2s;
    transition-timing-function: ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    transform: translate3d(var(--sidebar-panel-child-offset),0,0);
    transition-property: transform,inset-inline-start;



  }

  .sidebar-panel-opened {
    z-index: 2;
    transform: translate3d(0,0,0);
    transition-delay: 0s;
  }

  .sidebar-panel-parent {
    transform: translate3d(var(--sidebar-panel-parent-offset),0,0);
    z-index: 0;
  }
}

.offcanvas-ticketings.offcanvas-bottom {
	height: auto;

	.offcanvas-header {
		display: flex;
		justify-content: space-between;
		align-items: center;


		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}

	.offcanvas__content {
		display: flex;
		flex-direction: column;
	}

	.offcanvas__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $white;
		text-decoration: none;
		padding: var(--is-offcanvas-padding-y) var(--is-offcanvas-padding-x);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);

		svg {
			color: rgba(255, 255, 255, 0.5);
		}

		&:hover {
			background-color: #4a4a4a;
		}
	}

	.offcanvas__footer {
		text-align: center;
		font-size: 0.875rem;
		color: rgba(255, 255, 255, 0.7);
		padding: var(--is-offcanvas-padding-y) var(--is-offcanvas-padding-x);
	}
}
